@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
  font-family: 'Josefin Sans', sans-serif;
  background: #121212;
  color: white; 
}

#content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.wrong {
  color: #ff0000
}

.correct {
  color: #00FF1A;
}